@page
@model ProjektBoat.Pages.Members.AddMemberModel
@{
    ViewData["Title"] = "Tilføj medlem";
}
<h1>Tilføj medlem</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Member.Name" class="control-label"></label>
                <input asp-for="@Model.Member.Name" class="control-label" />
                <span asp-validation-for="Member.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Age" class="control-label"></label>
                <input asp-for="@Model.Member.Age" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.PhoneNo" class="control-label"></label>
                <input asp-for="@Model.Member.PhoneNo" class="control-label" />
                <span asp-validation-for="Member.PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Mail" class="control-label"></label>
                <input asp-for="@Model.Member.Mail" class="control-label" />
                <span asp-validation-for="Member.Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Certificate" class="control-label"></label>
                <input asp-for="@Model.Member.Certificate" class="control-label" />
                <span asp-validation-for="Member.Certificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Admin" class="control-label"></label>
                <input asp-for="@Model.Member.Admin" class="control-label" />
                <span asp-validation-for="Member.Admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tilføj nyt medlem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
