@page
@model ProjektBoat.Pages.Blog.CreatePostModel
@{
    ViewData["Title"] = "Create Post";
}
<h1>Create Post</h1>
<div class="col-md-4">
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Blog.PostId" class="control-label"></label>
            <input asp-for="@Model.Blog.PostId" class="control-label" />
            <span asp-validation-for="Blog.PostId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Blog.Title" class="control-label"></label>
            <input asp-for="@Model.Blog.Title" class="control-label" />
            <span asp-validation-for="Blog.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Blog.ShortDescription" class="control-label"></label>
            <input asp-for="@Model.Blog.ShortDescription" class="control-label" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Blog.Description" class="control-label"></label>
            <input asp-for="@Model.Blog.Description" class="control-label" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Blog.DateTime" class="control-label"></label>
            <input asp-for="@Model.Blog.DateTime" class="control-label" />
            <span asp-validation-for="Blog.DateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Photo" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="@Model.Photo" class="custom-file-input form-control" />
                <label class="custom-file-label">Gem Billede</label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create a new post" class="btn btn-primary" />
        </div>
    </form>
</div>